        @import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
        *{
            padding: 0px;
            margin: 0px;
        }
        body{
            background-color: bisque;
        }
        
        .navbar{
            height: 5vh;
            background-color: rgb(241, 117, 117);
            border: 1px solid black;
            border-radius: 2px;
            margin: 5px;
            padding: 5px;
            font-family: 'Young Serif', serif;
        }
        .links{
            float: right;
            border-radius: 5px;
            padding-right: 5px;
            padding-top: 5px;
        }
        
        .links a{
            color: white;
        }
        .product{
            padding-top: 6px;
            float: left;
            font-family: 'Young Serif', serif;
        }
       .left{
        border: 1px solid black;
        border-radius: 5px;
        background-color: rgb(241, 117, 117);
        padding: 0px;
        margin: 5px;
        float: left;
       }
       .left a{
        color: white;
        font-size: small;
        font-family: 'Young Serif', serif;
       }
       .mid{
        width: 1350px;
        border: 1px solid black;
        background-color: rgb(241, 117, 117);
        padding: 1px;
        margin-left: 3.5px;
        margin-right: 3.5px;
        text-align: left;
        display: inline-block;
        float: center; }

        .mid h1{
            font-family: 'Young Serif', serif;
        }
        
       .mid p{
        color: white;
        font-family: Georgia, 'Times New Roman', Times, serif;
       }
       .right{
        border: 1px solid black;
        border-radius: 5px;
        background-color: rgb(241, 117, 117);
        padding: 1px;
        margin: 5px;
        float: right;
        width: 227px;
        display: inline-block;
       }
       .right p{
        color: white;
        text-align: center;
        font-family: 'Young Serif', serif;
       }
       

        
        